* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: #ececec;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


.outer{
    overflow: scroll;
    margin-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .ejemplo{
    border: 2px solid black;
    padding: 25px;
    background-image: url(https://img.freepik.com/foto-gratis/icono-bloqueo-mientras-hombre-usa-mouse_53876-90303.jpg?w=2000);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  #text{
    background: rgba(17, 111, 188, .6);
    text-align: center;
    width: 500px;
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
  }



@media screen and (max-width: 991px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        text-decoration: none;
        color: #ecececec;
    }
}