/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #008CBA;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.description {
    float: right;
    max-width: 50%;
}

.description img {
    width: 50%;
}

/* Estilos de los productos y promociones */
.product-category {
    margin: 20px 0;
}

.product-category h3, .promotion h3 {
    background-color: #008CBA;
    color: #fff;
    padding: 5px;
}

.product-grid, .promotion-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product, .promotion {
    width: calc(15% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img, .promotion img {
    max-width: 100%;
}

/* Estilos del apartado de contacto */
#contact {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 44px;
}

/* Estilos del apartado de Productos y Promocion */
#promotions h2, #products h2 {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 34px; /* Tamaño de letra deseado */
}


.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

/* Estilos generales de los botones */
button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #00587A;
}

/* Estilos para el carrito de compras */
.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    color: #000;
    background-color: #ffffff;
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.cart {
    position: fixed;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus preferencias */
    right: 10px; /* Ajusta la distancia desde la derecha según tus preferencias */
}

.cart-link {
    display: inline-block;
    position: relative;
}

.cart img {
    display: block;
    width: 35px; /* Ajusta el tamaño de la imagen según tus preferencias */
}

.item-count {
    position: absolute;
    top: -5px; /* Ajusta la posición vertical según tus preferencias */
    right: -5px; /* Ajusta la posición horizontal según tus preferencias */
    background-color: #ff0000; /* Color de fondo para el número */
    color: #fff; /* Color del número */
    border-radius: 100%; /* Estilo de círculo para el número */
    padding: 5px 10px; /* Espaciado interno para el número */
    font-size: 10px; /* Ajusta el tamaño del número según tus preferencias */
}

.cart-header {
    background-color: #008CBA;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cart-header h3 {
    margin: 0;
}

.close-cart {
    font-size: 24px;
    cursor: pointer;
}

.cart-items {
    padding: 10px;
    color: #000;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid black;
}

.cart-total {
    padding: 10px;
    text-align: right;
    font-weight: bold;
}

.checkout-button {
    width: 100%;
    padding: 10px;
    border-radius: 10%;
    background-color: #0c8f00;
    color: #fff;
    border: none;
    cursor: pointer;
}
